<!DOCTYPE html>
<html lang="en">
<head>
   <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="https://f.v1.n0.cdn.getcloudapp.com/items/1J0Y1N1I441v1E2k3e2W/weather.png" type="image/x-icon">
    
    
    
</head>
<body>
        <div class="main-content">
            {{>header}}
        <title>{{title}}</title>
        <h3>This is some help text.</h3>
        </div>
        {{>footer}}
</body>
</html>